{{#each this}}
<h2 class="character-jutsu-basics-title">{{main-title}}</h2>
<h3 class="character-basic-title">{{character-title}}</h3>
<p class="about-text">{{character-info}}</p>
<h3 class="jutsu-basic-title">{{{jutsu-title}}}</h3>
<p class="about-text">{{jutsu-info}}</p>
{{/each}}
